<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483778926550-12et8841345alel4hvdc4p6q2b9j44n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483778926550-12et8841345alel4hvdc4p6q2b9j44n8</string>
	<key>API_KEY</key>
	<string>AIzaSyA4nekX9kqCRsqRGlISoVheoxYmyfPQdus</string>
	<key>GCM_SENDER_ID</key>
	<string>483778926550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alta.noodledistribution</string>
	<key>PROJECT_ID</key>
	<string>noodledistribution</string>
	<key>STORAGE_BUCKET</key>
	<string>noodledistribution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483778926550:ios:35a5e4478d23b87a4ff677</string>
</dict>
</plist>